
<launch>

  <!-- urdf + rViz -->
  <arg name="model" default="$(find urdf_tutorial)/urdf/robot_0.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" /> 
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- ros astra camera -->
  <node pkg="astra_camera"  type="astra_camera_node" name="astra_camera_custom_node" output="screen"/>
  <!--node pkg="astra_camera"  type="astra_camera_node" name="astra_camera_custom_node"/-->

  <!-- pcl_object_detection_node -->
  <node pkg="pcl_object_detection" type="pcl_object_detection_node" name="pcl_object_detection_node" output="screen">

    <param name="target_frame" value="base_link"/>
    <param name="transform_tolerance" value="0.01"/>

    <param name="depth_topic" value="/camera/depth/points"/>
  </node>
 
</launch>
