<?xml version="1.0"?>
<robot name="robot_0">
  <link name="base_link"> 
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <link name="astra_camera_link">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_to_astra_camera" type="fixed">
    <parent link="base_link"/>
    <child link="astra_camera"/>
  </joint>

</robot>
