<!-- PCL Object Detection example launch file 
     copy to your robot launch file, and modify as needed
-->

<launch>
  <node pkg="pcl_object_detection" type="pcl_object_detection_node" name="pcl_object_detection_node" output="screen">

    <param name="target_frame" value="base_link"/>
    <param name="transform_tolerance" value="0.01"/>

    <!-- PICK WHICH CAMERA TO USE:
    ASTRA CAMERA:
    <param name="depth_topic" value="/astra_camera/depth/points"/>
    REALSENSE CAMERA IN HEAD:
    <param name="depth_topic" value="/camera/depth_cloud"/>
    -->
    <param name="depth_topic" value="/astra_camera/depth/points"/>
 
  </node>

</launch>

